<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tripper</title>
	
    <!-- css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static',filename='css/nivo-lightbox.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static',filename='css/nivo-lightbox-theme/default/default.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static',filename='css/animations.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='color/default.css') }}" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	
	<section class="hero" id="intro">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-right navicon">
                  <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
					<div class="animatedParent">
						<h1 class="animated fadeInDown" style="color:black;">Thanks for using TRIPPER,{{ username }}!</h1>
						<p class="animated fadeInUp" style="color:black;">Hope you Have/Had an Awesome Trip</p>
					</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="/" class="learn-more-btn btn-scroll btn-scroll ">Plan Again!</a>
                </div>
              </div>
            </div>
    </section>

    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-md-2">
                                                   <div class="site-logo">
                                                            <a href="index.html" class="brand">TRIPPER</a>
                                                   </div>
                                          </div>
                                          <div class="col-md-10">
                                                      <!-- Brand and toggle get grouped for better mobile display -->
                                          <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
                                          </div>
                                                      <!-- /.Navbar-collapse -->
                                          </div>
                                    </div>
                              </div>
                              <!-- /.container -->
        </nav>
    </div> 
    <!-- /Navigation -->  

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="footer-menu">
						<li><a href="#">Home</a></li>
						<li><a href="www.facebook.com/">Facebook</a></li>
						<li><a href="www.instagram.com/balaji.dr/">Instagram</a></li>
					</ul>
				</div>
				<div class="col-md-6 text-right">
					<p>Balaji D R <a href="http://bootstraptaste.com/">Bootstrap Themes</a> Original theme by BootstrapTaste</p>
                    <!-- 
                        All links in the footer should remain intact. 
                        Licenseing information is available at: http://bootstraptaste.com/license/
                        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Bocor
                    -->
				</div>
			</div>	
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static',filename='js/jquery.sticky.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.easing.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/jquery.scrollTo.js') }}"></script>
	<script src="{{ url_for('static',filename='js/jquery.appear.js') }}"></script>
	<script src="{{ url_for('static',filename='js/stellar.js') }}"></script>
	<script src="{{ url_for('static',filename='js/nivo-lightbox.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
	<script src="{{ url_for('static',filename='js/css3-animate-it.js') }}"></script>

</body>

</html>
